# Игнорировать скомпилированные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорировать файлы виртуального окружения
venv/

# Игнорировать файл базы данных SQLite (если вы используете другую БД, этот пункт можно пропустить)
db.sqlite3

# Игнорировать файлы IDE (например, PyCharm)
.idea/

# Конфигарационные файлы


# Игнорировать пользовательские файлы настроек (если есть)
*settings_local.py

# Игнорировать статические и медиа-файлы, если они генерируются автоматически
static/
media/